<app-header></app-header>
<main>
    <!-- <section class="homesection">
        <div class="content">
            <h3 class="head1">Universal Hospital, Pune</h3>
        </div> -->
    <!-- </section><br><br> -->
    <section class="main2" id="about">
        <div class="main-content">
            <h1 style="margin: 16px 16px; font-size: 20pt; padding: 16px 16px; color: black; text-align: center;">Lifecare Hospitals, Hyderabad</h1>
            
           
            <p class="para1" style="text-align: center;">Lifecare Hospitals offers services in Cardiology, Cardiothoracic and Cardiovascular surgery, Dermatology, Dental, Diabetology, ENT, Gastroenterology, Oncology, Nephrology, Neurology, Neurosurgery, Obstetrics & Gynecology, Organ Transplantation, Orthopedics, Pediatrics, Pulmonology, Plastic Surgery, Rheumatology, Robotics and Urology.<br><br>
                Hospital Group is certified by NABH and NABL.Our mission is to bring healthcare of International standards within the reach of every individual. We are committed to the achievement and maintenance of excellence in education, research and healthcare for the benefit of humanity”.<br><br>
                As a responsible corporate citizen, Lifecare Hospitals takes the spirit of leadership well beyond business and has embraced the responsibility of keeping India healthy. Recognizing that Non Communicable Diseases (NCDs) are the greatest threat to the nation, Apollo Hospitals is continuously educating people about preventive healthcare as the key to wellness. Likewise, envisioned by Dr. Prathap C Reddy, the “Billion Hearts Beating Foundation” endeavours to keep Indians heart-healthy.
                
            </p><br>
              <p style="font-size: 20pt;">Follow Us On :</p>
            <img src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/facebook-512.png" width=50px height=50px> 
            <img src="https://parentzone.org.uk/sites/default/files/Instagram%20logo.jpg" width=50px height=50px>
            <img src="https://play-lh.googleusercontent.com/wIf3HtczQDjHzHuu7vezhqNs0zXAG85F7VmP7nhsTxO3OHegrVXlqIh_DWBYi86FTIGk" width=50px height=50px><br><br>
          
           
            
        </div> 
    </section>

    
        <div style="background-color: white;">
        <p style="line-height: 50px;" class="foot1">&copy; Lifecare Hospitals | &nbsp;All Rights Reserved.</p>
        <p style="line-height: 50px;" class="foot2"></p>
        </div>