<app-header></app-header>
<router-outlet></router-outlet>

<div style="display: flex">
  <div>
    <div class="frontimg">
      <div class="fheading">
        <h1 style="color: #a47533"></h1>
        <p style="
              color: black;
              font-size: large;
              margin-top: 20px;
              font-weight: 500;
            ">
        <h2 style="color: black; font-size:40px; font-style: italic; text-align: start; ">Capital Of Health</h2>

      </div>
    </div>
    <!-- <div>
        <img class="main" src="https://static.vecteezy.com/system/resources/thumbnails/000/219/529/small/medical-background.jpg" height="200px"  >
      </div> -->
    <div style="text-align: left">

      <h1 style="margin: 20px 20px; font-family: serif">About Lifecare Hospital</h1>
      <p style="color: black; margin: 35px 150px;font-size: larger;">
        Lifecare Hospital & Research Center is a charitable, multi-specialty
        hospital located in the heart of Hyderabad, India. Founded in 2001, today it
        is one of the largest hospital in Hyderabad, with 800 beds. Universal Hospital
        offers state-of-the-art diagnostic, therapeutic and intensive care
        facilities in a one-stop medical center. The goal of inpatient treatment is to provide 24-7 medical
        stabilization, which is why this type of treatment has more of a hospital-like feel since patients are monitored
        by doctors, nurses, therapists, and social workers. Treatment is structured and has a schedule that can include
        individual therapy, group therapy, case management, and support groups.
      </p>
    </div>
    <!-- <div class="knowmore">
        <a href="#"></a>
      </div> -->

    <!-- <div style="margin-top: 70px">
        <h1 style="text-align: center">Courses And Conferences</h1>
      </div> -->
    <!-- <div class="course" style="display: flex; justify-content: center">
        <div class="course-item1">
          <ul style="list-style: square">
            <li class="course-item">
              <a href="#">Fellowship In Advanced Obstetric Ultrasonography</a>
            </li>
            <li class="course-item">
              <a href="#">Epilepsy - Neurotechnology Program</a>
            </li>
            <li class="course-item"><a href="#">Yoga Classes Schedule</a></li>
            <li class="course-item"><a href="#">Garbha-Swasthya Helpline</a></li>
            <li class="course-item">
              <a href="#">Organ Donation & Transplantation</a>
            </li>
          </ul>
        </div>
        <div class="course-item2">
          <ul style="list-style: square">
            <li class="course-item">
              <a href="#">Fellowship in Musculoskeletal Imaging</a>
            </li>
            <li class="course-item">
              <a href="#"
                >Jalneti Monitoring Project Entry (जलनेती- कोविड- १९- सर्वेक्षण
                )</a
              >
            </li>
            <li class="course-item">
              <a href="#">Instructions for Vaccination</a>
            </li>
          </ul> -->
  </div>
</div>
<app-footer></app-footer>