@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
.bgimage{
    background-image: url("https://wallpaperaccess.com/full/2314983.jpg");
    background-size: cover;
}
.contact{
    background-color: rgb(133, 234, 132);
}