<div class="contact">
  <h1 style="font-size: 20pt">Contact Us On :</h1>
  <br />
  <i class="fas fa-envelope">&nbsp;&nbsp;lifecarehospitals@gmail.com</i
  ><br /><br />
  <i class="fas fa-phone">&nbsp;&nbsp;+91 7503705421</i><br /><br />
  <i class="fas fa-phone">&nbsp;&nbsp;7503- 705421</i><br /><br />
  <i class="fas fa-map-marker-alt"></i><strong>Ghaziabad, UttarPradesh.</strong
  ><br /><br />

  <h1 style="text-align: center">Our specialty is you.</h1>
  <a href=""><h1>Go Back</h1></a>
  <!--<img src="https://www.patientbond.com/hubfs/Imported_Blog_Media/Group-of-healthcare-providers-10.png" height="400px"  width="550px" style="display: flex; position: relative; left: 59%; bottom: 80%;border: 1px solid black; box-shadow: 8px 8px 10px lightgray; ">-->
  <div class="main-map" align="center">
    <h2 class="map-heading" style="font-size: 30px">Location</h2>
    <br />
    <div class="map-details">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.256576764108!2d72.85200331485167!3d19.09639678707625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c84d181637fd%3A0x5508a8556a146477!2sHotel%20Airport%20International!5e0!3m2!1sen!2sin!4v1640584911236!5m2!1sen!2sin"
        width="100%"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
      <!-- <p style="font-style: italic; margin-top: 32px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum ratione ipsam excepturi libero expedita corporis rerum quo aut inventore sequi odio eos fugit, blanditiis non.</p> -->
      <div style="background-color: white">
        <p style="line-height: 50px" class="foot1">
          &copy; Mphasis Hospitals | &nbsp;All Rights Reserved.
        </p>
        <p style="line-height: 50px" class="foot2"></p>
      </div>
    </div>
  </div>
</div>
