.bgimage{
    background-image: url("https://static.wixstatic.com/media/cc33194e92ac493c81a5d60306500ac3.jpg/v1/fill/w_640,h_332,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/cc33194e92ac493c81a5d60306500ac3.jpg");
    background-size: cover;
}
h2{
    text-align: center;
}